<div class="flex">
  <!-- Child divs -->
  <div class="flex-left">
    <h1 class="header"><span>TEXT</span>to<span>ASL</span></h1>
    <h2 class="sub-header">PygHack 2020</h2>
    <textarea
      [placeholder]="'Translate me!'"
      [(ngModel)]="sentence"
      (keydown)="onKeyDown($event)"
    ></textarea
    ><br />
    <br />
  </div>

  <div class="controls">
    <button (click)="submit()" class="control-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z" />
      </svg>
    </button>
  </div>

  <div class="flex-right">
    <pm-carousel #carousel class="carousel" [index]="activeIndex">
      <ng-container *ngFor="let match of matches">
        <ng-template pavTemplate="{{ match.localText }}">
          <video class="video" (ended)="playVideo(activeIndex + 1)">
            <source src="{{ match.localSrc }}" type="video/mp4" />
          </video>
          <div class="text center">{{ match.localText }}</div>
        </ng-template>
      </ng-container>
    </pm-carousel>
  </div>
</div>
